<!-- Wrapper -->
<div id="wrapper">
	
<!-- Header -->
<header id="header"{% if page.layout == "home" %} class="alt"{% endif %}>
{% if page.layout == "home" %}{% if site.logo %}<span class="logo"><img src="{{ site.url }}{{ site.baseurl }}/images/{{ site.logo }}" alt="" /></span>{% endif %}{% endif %}
<h1>{% if page.layout == "home" %}<img src="{{ site.url }}{{ site.baseurl }}/images/BuffaloCityHall.jpg" class="header-image" style="width: 150px; border-radius: 50%; float: left;" alt="" /><img src="{{ site.url }}{{ site.baseurl }}/images/NiagaraCounty.jpg" class="header-image" style="width: 150px; border-radius: 50%; float: right;" alt="" />{% endif %}{{ page.title }}</h1>
<p>{{ page.description }}</p>
</header>

{% include nav.html %}

<!-- Main -->
<div id="main">

{% if page.layout != "home" %}
<!-- Content -->
<section id="content" class="main">
{% endif %}