<!-- Nav -->
<nav id="nav">
	<ul>
		{% if page.layout != "home" %}<li><a href="{{ site.url }}{{ site.baseurl }}">Home</a></li>{% endif %}
		<li><a href="{{ site.url }}{{ site.baseurl }}/about.html"{% if page.url == "/about.html" %} class="active"{% endif %}>About</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/join.html"{% if page.url == "/join.html" %} class="active"{% endif %}>Join</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/resources.html"{% if page.url == "/resources.html" %} class="active"{% endif %}>Resources</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/report.html"{% if page.url == "/report.html" %} class="active"{% endif %}>Website Report</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/help.html"{% if page.url == "/help.html" %} class="active"{% endif %}>Request Help</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/news.html"{% if page.url == "/news.html" %} class="active"{% endif %}>News</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/blog/"{% if page.url == "/blog/" %} class="active"{% endif %}>Blog</a></li>
	</ul>
</nav>